div.nowMain
{
position:absolute;
top:70px;
left:150px;
}
td.nowMainMenu
{
/*	font-family:"Verdana"; /*previously Lucida Console*/
	font-family:"Comic Sans MS";
/*	font-weight:"bold";         */
	background-color:#85A3E0; /* previosuly #000000 */	
	color:black;	
	width:180px;
	padding:15px;
	text-align:center;
	cursor:pointer;	
	font-size:18px;
}
td.nowImg
{
	width:100px;
	cursor:pointer;
}
.nowType
{
width:350px;	
height:25px;
font-family:"Courier New";
}
table#nowtable
{
table-layout:fixed;
}
#btnS
{
	width:70px;
}
div.nowSide
{
position:absolute;
top:265px;
left:50px;
visibility:hidden;
}

div#txtAjax
{
position:absolute;
top:230px;
left:300px;
font-family:"Century";
}

td#twt,td#defaultttwt
{
	background-color:#FFFFFF;
	color:black;
} 
td#home
{
background-color:#A32900;
}
div#twtside
{
visibility:visible;
}
#apiresults
{
/*border-collapse:collapse;*/
font-family:"Calibri"; /*  Comic Sans*/
width:750px;
font-size:16px;
}
#trendresults
{
position:relative;
left:220px;
font-size:30px;
}

#apiresults td.tweetspace,td.userspace
{
padding:6px;
height:50px;
/*background-color:#E6FFE6; /*previously  #BFFFD4*/
}

#apiresults td.postspace, #trendresults td.trendspace 
{
padding:6px;
height:50px;
/*background-color:#E0F5FF; /*previously  #CCE6FF*/
}

#apiresults td.utspace
{
padding:6px;
height:50px;
/*background-color:#FFFFD6; */
text-align:justify;
vertical-align:top;
/*font-size:14px;*/
}

label.ctrends
{
font-family:"Times New Roman";
cursor:pointer;
}
.nowRight
{
	position:absolute;
 	top:320px;
	left:1100px;	
/*	bottom:200px;
	right:60px; */
}
td#nS
{
font-family:"Malgun Gothic Bold";
color:#660000;
}
td.nowRightMenu
{
	font-family:"Matisse ITC";
/*	font-weight:"bold";         */
/*	background-color:#000000;	
	color:white;	*/
	width:120px;
	padding:7px;
	text-align:center;
	cursor:pointer;	
}
a.noline,a.userlink
{
text-decoration:none;
/*color:black;*/
font-weight:bold;
}
a.userlink
{
color:#D65C33;
}
div.bottomline
{
position:fixed;
bottom:5px;
left:80px;
}
td.fixedstatus
{
	background-color:#283143; /*previously #3D3D5C */
	color:white;	
	width:100px;
	padding:3px;
	font-family:"Comic Sans MS";
	text-align:center;
	cursor:pointer;	
}
div.expandbottom
{
position:absolute;
bottom:45px;
left:80px;
visibility:hidden;
}
table.siteinfoex
{
/*width:120px;*/
font-family:"Comic Sans MS";	
background-color:#E7EDF9; /*previously #9E9EAE */
padding:6px;
height:90px;
}
h3.noresult
{
font-family:"Segoe Print";
position:relative;
left:90px;
}